@import "../../scss/colors";

.FilterNavbar {
    padding-left: 0;
    padding-right: 0;
}

.FilterContainer {
    padding-left: 0;
    padding-right: 0;
}

.FilterOrText {
    color: $orTextColor;
    text-align: center;
}