.MovieCard {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    margin: 10px 0px 10px 0px;
}

.MovieCard_image {
    background: #000;
    width: 100%;
    min-height: 150px;
    height: 100%;
}

.MovieCard_content {
    padding: 10px;
}

.MovieCard_content {
    font-size: 0.8em;
}

.MovieCard_keyword {
    margin-right: 5px;
    font-size: 0.6em;
}