@import "../../scss/colors";
@import "../../scss/variables";

.MovieCard {
    background: #fff;
    border: 2px solid $movieCardBorderColor;
    border-radius: 0;
    margin: 10px 0 10px 0;
}

.MovieCardImage {
    background: #000;
    width: 100%;
    min-height: 150px;
    height: 100%;
}

.MovieCardImageMissing {
    color: $movieCardTextColor;
    height: 100%;
}

.MovieIcon {
    color: $movieCardIconColor;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding-top: 50px;
    font-size: 2em;
    opacity: .7;
}

.MovieCardContent {
    padding: 10px;
}

.MovieCardContentContainer {
    background-color: $movieCardTextBackground;
    color: $movieCardTextColor;
}

.MovieCardContent {
    font-size: 0.8em;
}

.MovieCardKeyword {
    margin-right: 5px;
    font-size: 0.875rem;
    background-color: unset;
    font-weight: 300;
    border-right: 1px solid $main;
    padding-right: 10px;
}

.MovieCardKeyword:last-of-type {
    border-right: unset;
}

.MovieThumbnail {
    padding-left: 0;
    padding-right: 0;
}

.MovieCardHeader {
    font-family: $font-header;
    font-size: 1.2em;
    border-radius: 0 !important;
    background-color: $movieCardHeaderColor;
    color: $movieCardHeaderTextColor;
}

.MovieCardFooter {
    border-radius: 0 !important;
    background-color: $movieCardFooterColor;
}

.Directors {
    margin-bottom: 10px;
    line-height: 1.3em;
    font-size: 1.1em;
}

.Countries {
    margin-top: 10px;
    line-height: 1.3em;
    font-size: 1.1em;
}

.Coverage {
    line-height: 1.3em;
    font-size: 1.1em;
}

.Abstract {
    margin-top: 10px;
    line-height: 1.3em;
    font-size: 1.2em;
}