@import "../../scss/colors";

.RecordsContainer {
  overflow: auto;
}

/* total width */
.RecordsContainer::-webkit-scrollbar {
  background-color: $darkest;
  width:16px
}

/* background of the scrollbar except button or resizer */
.RecordsContainer::-webkit-scrollbar-track {
  background-color: $darkest
}

/* scrollbar itself */
.RecordsContainer::-webkit-scrollbar-thumb {
  background-color: $main;
  border-radius:0;
  height: 50px;
}

/* set button(top and bottom of the scrollbar) */
.RecordsContainer::-webkit-scrollbar-button {display:none}