$lightest: #FFFFFF;
$lighter: #EDE7D9;
$main: #D5A021;
$dark: #585858;
$darker: #292929;
$darkest: #000000;

// Header + Footer
$headerBackground: $darkest;
$footerBackground: $darkest;

$navLink: $lightest;
$navLinkHover: $main;

// Filter
$orTextColor: $lightest;

// Modal
$modalHeaderBackground: $darker;
$modalFooterBackground: $darker;
$modalContentBackground: $dark;
$modalBorder: $darkest;
$modalClose: $lightest;
$modalCloseHover: $main;

// MovieCards
$moviePageBackground: $dark;
$movieCardBorderColor: $darkest;
$movieCardHeaderColor: $darker;
$movieCardHeaderTextColor: $lightest;
$movieCardTextBackground: $dark;
$movieCardTextColor: $lightest;
$movieCardIconColor: $main;

$movieCardButtonColor: $main;
$movieCardFooterColor: $darker;