/*
$brown: #4B4237;
$yellow: #D5A021;
$cream: #EDE7D9;
$light-brown: #A49694;
$choco: #736B60;
*/

$darkGrey: #292929;
$lightGrey: #585858;
$yellow: #D5A021;
$lightYellow: #EDE7D9;
$white: #FFFFFF;
$black: #000000;

// Header + Footer
$headerBackground: $black;
$footerBackground: $black;

$navLink: $white;
$navLinkHover: $yellow;

// Filter
$orTextColor: $white;

// Modal
$modalHeaderBackground: $darkGrey;
$modalFooterBackground: $darkGrey;
$modalContentBackground: $lightGrey;
$modalBorder: $black;
$modalClose: $white;
$modalCloseHover: $yellow;

// MovieCards
$moviePageBackground: $lightGrey;
$movieCardBorderColor: $black;
$movieCardHeaderColor: $darkGrey;
$movieCardHeaderTextColor: $white;
$movieCardTextBackground: $lightGrey;
$movieCardTextColor: $white;
$movieCardIconColor: $yellow;

$movieCardButtonColor: $yellow;
$movieCardFooterColor: $darkGrey;