$lightest: #FFFFFF;
$lighter: #EDE7D9;
$main: #51657b;
$dark: #585858;
$darker: #292929;
$darkest: #000000;

// Colors Original
/*
$lightest: #FFFFFF;
$lighter: #EDE7D9;
$main: #D5A021;
$dark: #585858;
$darker: #292929;
$darkest: #000000;

// Colors V1
$lightest: #FFFFFF;
$main: #849E9B;
$dark: #868996;
$darker: #5C6672;
$darkest: #293342;


// Colors V2
$lightest: #FFFFFF;
$main: #007AFF;
$dark: #597488;
$darker: #334354;
$darkest: #2B3642;

// Colors V3
$lightest: #e2e2e2;
$main: #839EE2;
$dark: #444B60;
$darker: #33343A;
$darkest: #060A16;

// Colors V4
$lightest: #F4FDFF;
$main: #48647A;
$dark: #c0c0c0;
$darker: #707B89;
$darkest: #2A3542;
*/

// Header + Footer
$headerBackground: $darkest;
$footerBackground: $darkest;

$navLink: $lightest;
$navLinkHover: $main;

// Filter
$orTextColor: $lightest;

// Modal
$modalHeaderBackground: $darker;
$modalFooterBackground: $darker;
$modalContentBackground: $dark;
$modalBorder: $darkest;
$modalClose: $lightest;
$modalCloseHover: $main;

// MovieCards
$moviePageBackground: $dark;
$movieCardBorderColor: $darkest;
$movieCardHeaderColor: $darker;
$movieCardHeaderTextColor: $lightest;
$movieCardTextBackground: $dark;
$movieCardTextColor: $lightest;
$movieCardIconColor: $main;

$movieCardButtonColor: $main;
$movieCardFooterColor: $darker;