@import "./colors";

$font-header: 'Archivo Narrow', sans-serif;
$font-body: 'Lato', sans-serif;

// Bootstrap upgrades
$primary: $black;
$secondary: $yellow;
$info: $lightGrey;

// Badge
$badge-padding-y: 5px;
$badge-padding-x: 5px;
$badge-border-radius: 0;

// Button
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;