@import "./colors";

// $font-header: 'Archivo Narrow', sans-serif;
$font-header: 'Noto Serif', serif;
// $font-header: 'Libre Baskerville', serif;
// $font-header: 'Volkhov', serif;
$font-body: 'Lato', sans-serif;


// Bootstrap upgrades
$primary: $darkest;
$secondary: $main;
$info: $dark;

// Badge
$badge-padding-y: 5px;
$badge-padding-x: 5px;
$badge-border-radius: 0;

// Button
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;